.popoverContainer {
  position: relative;
  display: inline-block;
}

.popoverTrigger {
  cursor: pointer;
}

.popoverContent {
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  left: -90%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  min-width: 400px;
  width: 100%;
}

/* Media Query Start */

@media screen and (max-width: 550px) {
  .popoverContent {
    left: -75%;
    width: 100%;
  }
}
/* Media Query End */
