.inputContainer {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  right: 16px;
  top: 16px;
}
.inputStyles {
  width: 100%;
}

.inputStyles:focus {
  outline: none;
  border: 1px solid var(--lightBlue);
}
.errorStyles {
  color: var(--red);
  font-size: 18px;
  font-family: 'Medium', sans-serif;
  line-height: 30px;
}
