.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundModalColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  /* width: 455px;
  height: 484px; */
  background-color: var(--white);
  border-radius: 8px;
  background: #fff;
  box-shadow: 1px 8px 24px 0px var(--lightgrey8);
}

.modalBtnStyles {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  color: var(--white);
}

.modalWrappperStyles {
  width: 24px;
  height: 24px;
}

.modalContent {
  padding: 24px;
}

.modalCloseImgBlock {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 17%;
  right: 24%;
}

.imageWidth {
  width: 100%;
  height: 100%;
}

/* Media Query start */

@media (max-width: 1279px) {
  .modalContainer {
    width: 60%;
    height: 60%;
  }
}

@media (max-width: 1023px) {
  .modalContainer {
    width: 60%;
    height: 70%;
  }
}

@media (max-width: 868px) {
  .modalContainer {
    width: 90%;
    height: 60%;
  }
}

@media (max-width: 550px) {
  .modalContainer {
    width: 90%;
    height: 60%;
  }
}

/* Media Query end */




