.snoItemDetailsMainContainer {
  background-color: var(--grey95);
}

.snoItemDetailsContainer {
  max-width: 1366px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 80px;
}

.snoItemHeaderBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemInfoHeading {
  color: var(--aubergine);
  font-size: 40px;
  font-family: 'Semi-Bold', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .snoMenuBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
} */

.imageWidth {
  width: 100%;
  height: 100%;
}

.snoProductDetailsBlock {
  display: flex;
  flex-direction: row;
  gap: 122px;
}

.snoProductLeftImgBlock {
  width: 593px;
  height: 573px;
  border: 1px solid #e6e6e7;
  border-radius: 8px;
  background: #e6e6e7;
}

.snoProductRightDetailsBlock {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.snoProductOverViewBlock {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.overViewHeading {
  color: var(--aubergine);
  font-size: 18px;
  font-family: 'Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.snoProductInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.snoProductInfoSubBlock,
.noteFinderInfoBlock {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.snoProductImgBlock {
  width: 64px;
  height: 64px;
  padding: 16px;
  border-radius: 32px;
  background: var(--skyblue);
}

.snoProductInfo,
.noteFinder {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.productName,
.noteFinderHeading {
  color: var(--aubergine);
  font-size: 24px;
  font-family: 'Semi-Bold', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.productSerialNumber,
.productItemCategory,
.noteFinderDesc {
  color: var(--lightgrey72);
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.noteFinderDesc {
  max-width: 395px;
}

.contactOwnerBtnStyles {
  width: 455px;
  height: 56px;
  border-radius: 8px;
  background: var(--darkgreen);
  box-shadow: 1px 8px 24px 0px var(--lightgreyshadow8);
  color: var(--white);
}

/* Media Query Start */

@media screen and (max-width: 1279px) {
  .snoItemDetailsContainer {
    padding: 42px 32px;
    gap: 40px;
  }

  .itemInfoHeading {
    font-size: 40px;
  }

  .overViewHeading {
    font-size: 18px;
    line-height: 24px;
  }

  .snoProductImgBlock {
    width: 56px;
    height: 56px;
  }

  .productName,
  .noteFinderHeading {
    font-size: 18px;
    line-height: 28px;
  }

  .productSerialNumber,
  .productItemCategory,
  .noteFinderDesc {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .snoItemDetailsContainer {
    padding: 42px 32px;
    gap: 30px;
  }

  .itemInfoHeading {
    font-size: 32px;
  }

  .snoProductDetailsBlock {
    flex-direction: row;
    gap: 48px;
  }

  .snoProductLeftImgBlock {
    width: 100%;
    height: 400px;
  }

  .snoProductRightDetailsBlock {
    gap: 48px;
  }

  .snoProductOverViewBlock {
    gap: 32px;
  }

  .overViewHeading {
    font-size: 18px;
    line-height: 24px;
  }

  .snoProductInfoBlock {
    gap: 32px;
  }

  .snoProductInfoSubBlock,
  .noteFinderInfoBlock {
    gap: 24px;
  }

  .snoProductImgBlock {
    width: 56px;
    height: 56px;
  }

  .snoProductInfo,
  .noteFinder {
    gap: 8px;
  }

  .productName,
  .noteFinderHeading {
    font-size: 18px;
    line-height: 28px;
  }

  .productSerialNumber,
  .productItemCategory,
  .noteFinderDesc {
    font-size: 16px;
    line-height: 24px;
  }
  .contactOwnerBtnStyles {
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 868px) {
  .snoItemDetailsContainer {
    padding: 42px 32px;
    gap: 30px;
  }

  .itemInfoHeading {
    font-size: 32px;
  }

  .snoProductDetailsBlock {
    flex-direction: column;
    gap: 48px;
  }

  .snoProductLeftImgBlock {
    width: 100%;
    height: 400px;
  }

  .snoProductRightDetailsBlock {
    gap: 48px;
    align-items: center;
  }

  .snoProductOverViewBlock {
    gap: 32px;
  }

  .overViewHeading {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .snoProductInfoBlock {
    gap: 32px;
  }

  .snoProductInfoSubBlock,
  .noteFinderInfoBlock {
    gap: 24px;
  }

  .snoProductImgBlock {
    width: 56px;
    height: 56px;
  }

  .snoProductInfo,
  .noteFinder {
    gap: 8px;
  }

  .productName,
  .noteFinderHeading {
    font-size: 18px;
    line-height: 28px;
  }

  .productSerialNumber,
  .productItemCategory,
  .noteFinderDesc {
    font-size: 16px;
    line-height: 24px;
  }
  .contactOwnerBtnStyles {
    width: 400px;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .snoItemDetailsContainer {
    padding: 42px 24px;
    gap: 26px;
  }

  .itemInfoHeading {
    font-size: 28px;
  }

  .snoProductDetailsBlock {
    flex-direction: column;
    gap: 48px;
  }

  .snoProductLeftImgBlock {
    width: 100%;
    height: 366px;
  }

  .snoProductRightDetailsBlock {
    gap: 48px;
    align-items: flex-start;
  }

  .snoProductOverViewBlock {
    gap: 32px;
  }

  .overViewHeading {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }

  .snoProductInfoBlock {
    gap: 32px;
  }

  .snoProductInfoSubBlock,
  .noteFinderInfoBlock {
    gap: 24px;
  }

  .snoProductImgBlock {
    width: 56px;
    height: 56px;
  }

  .snoProductInfo,
  .noteFinder {
    gap: 8px;
  }

  .productName,
  .noteFinderHeading {
    font-size: 18px;
    line-height: 28px;
  }

  .productSerialNumber,
  .productItemCategory,
  .noteFinderDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .contactOwnerBtnStyles {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}
/* Media Query End */
