/* -----------------DeskTop view Starts----------------- */
.navBar {
  width: 100%;
  background-color: var(--white);
  position: sticky;
  top: 0;
}
.insideNavBar {
  max-width: 1366px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 80px;
  align-items: center;
  border-bottom: 1px solid var(--lightgrey16);
}
.leftSection {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.navBarLogo {
  max-width: 56px;
  max-height: 56px;
}
.imageWidth {
  width: 100%;
  height: 100%;
}
.LogoText {
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: var(--darkgreen);
}
.rightSection {
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
}
.eventsSection,
.aboutSection,
.productsSection {
  cursor: pointer;
  display: block;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--lightgrey);
}
.cartSection {
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
}
.shoppingCart {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px;
}
.gapSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.shoppingTopSection {
  display: flex;
  flex-direction: row;
  gap: 293px;
}
.shopppingHeader {
  color: var(--aubergine);
  font-family: 'Semi-Bold', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.shoppingCrossImg {
  width: 32px;
  height: 32px;
}
.shoppingBottomSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.cartStylesSection {
  display: flex;
  flex-direction: row;
  gap: 32px;
  border-bottom: 1px solid var(--lightgrey24);
  padding-bottom: 32px;
}
.cartStylesSection:last-child {
  border: none;
  padding-bottom: 0px;
}
.shoppingImgSection {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  background: var(--lightgrey42);
}
.shoppingRightSection {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.textSection {
  display: flex;
  flex-direction: column;
}
.productHeader {
  color: var(--aubergine);
  font-family: 'Semi-Bold', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.priceSection {
  color: var(--lightgrey72);
  font-family: 'Medium', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.removeSection {
  display: flex;
  flex-direction: row;
  gap: 190px;
}
.addSection {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.subtractSection,
.addSectionOne {
  padding: 6px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid var(--lightgrey24);
  background: var(--white);
  box-shadow: 1px 8px 24px 0px var(--lightgrey8);
  cursor: pointer;
}
.numSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.numSectionStyles {
  color: var(--darkgreen);
  font-family: 'Regular', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.deleteSection {
  padding: 6px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: var(--lightgreyishblue);
  cursor: pointer;
}
.borderBottomStyles {
  border: 1px solid black;
}
.checkoutBtn {
  display: flex;
  align-items: center;
  max-width: 486px;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background: var(--darkgreen);
  box-shadow: 1px 8px 24px 0px rgba(25, 79, 89, 0.08);
}
.checkOutStyles {
  color: var(--white);
  font-family: 'Regular', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.navBarButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 48px;
  background: var(--lightorange);
  border: 1px solid var(--aubergine);
  box-shadow: 1px 8px 24px var(--darkshadow);
  border-radius: 40px;
}

.userSignup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: var(--white);
  border: 1px solid var(--lightgrey24);
  border-radius: 40px;
  width: fit-content;
  padding: 4px;
}

.userProfileImgBlock {
  width: 40px;
  height: 40px;
}

.userProfileuparrowBlock {
  width: 24px;
  height: 24px;
}

.userProfileSection {
  width: 265px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 1px 8px 24px 0px var(--lightgrey8);
  padding: 24px;
}

.userProfileFeaturesBlock {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.userProfileImgBlock {
  width: 24px;
  height: 24px;
}

.userProfileOptions {
  color: var(--lightgrey72);
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  line-height: 30px;
}

.loginStyles {
  cursor: pointer;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--aubergine);
}
.hamburgerIcon {
  display: none;
}
.popOverSection {
  display: none;
}
/* -----------------DeskTop view Ends----------------- */

/* Styles Start at 1023px */

@media screen and (max-width: 1023px) {
  .insideNavBar {
    padding: 14px 40px;
    /* gap: 60px; */
  }

  .rightSection {
    gap: 32px;
  }
}

/* Styles End at 1023px */

/* Styles Start at 867px */
@media screen and (max-width: 867px) {
  .insideNavBar {
    justify-content: space-between;
    padding: 20px 24px;
  }
  .leftSection {
    gap: 2px;
  }
  .navBarLogo {
    max-width: 40px;
    max-height: 40px;
  }
  .LogoText {
    font-size: 20px;
    line-height: 25px;
  }

  .eventsSection,
  .aboutSection,
  .productsSection {
    display: none;
  }
  .rightSection {
    gap: 24px;
  }
  .cartSection {
    max-width: 24px;
    max-height: 24px;
  }
  .shoppingCart {
    padding: 24px;
  }
  .shoppingTopSection {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
  .removeSection {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
  .navBarButton {
    display: none;
  }
  .hamburgerIcon {
    display: block;
    max-width: 24px;
    max-height: 24px;
  }
  .popOverSection {
    display: block;
    width: 350px;
    height: 100%;
    position: absolute;
    right: 0;
  }
  .insidePopOver {
    padding: 24px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 48px;
    border: 1px solid var(--whitetransparent24);
    box-shadow: 1px 8px 24px var(--lightgrey8);
    border-radius: 8px;
    margin-inline: 8px;
  }
  .useProfileSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .userProfileText,
  .popOverBusinessText,
  .popOverProductsText,
  .popOverAboutText {
    font-family: 'Regular', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--lightgrey72);
  }
  .loginButtonSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 40px;
    background: var(--lightorange);
    border: 1px solid var(--aubergine);
    box-shadow: 1px 8px 24px var(--lightgrey8);
    border-radius: 24px;
  }
  .popOverLoginStyles {
    font-family: 'Regular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--aubergine);
  }
}

/* Styles End at 867px */

/* Styles start at 428px */
@media screen and (max-width: 428px) {
  .popOverSection {
    width: 100%;
    height: 100%;
  }

  .shoppingCart {
    gap: 32px;
  }
  .gapSection {
    gap: 24px;
  }
  /* .shoppingTopSection {
  display: flex;
  flex-direction: row;
  gap: 293px;
} */
  .shopppingHeader {
    font-size: 18px;
    line-height: 28px;
  }
  .shoppingCrossImg {
    width: 28px;
    height: 28px;
  }
  .shoppingBottomSection {
    gap: 24px;
  }
  .shoppingImgSection {
    width: 100px;
    height: 100px;
  }
  .shoppingRightSection {
    gap: 24px;
  }
  .cartStylesSection {
    gap: 24px;
    padding-bottom: 24px;
  }
  .productHeader {
    font-size: 16px;
    line-height: 24px;
  }
  .priceSection {
    font-size: 16px;
    line-height: 24px;
  }
  .removeSection {
    justify-content: space-between;
  }
  .addSection {
    gap: 4px;
  }
  .subtractSection,
  .addSectionOne {
    width: 28px;
    height: 28px;
  }
  .numSection {
    width: 28px;
    height: 28px;
  }
  .numSectionStyles {
    font-size: 16px;
    line-height: 24px;
  }
  .deleteSection {
    width: 28px;
    height: 28px;
  }
  .checkoutBtn {
    max-width: 350px;
    width: 100%;
  }
  .checkOutStyles {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Styles end at 428px */
