/* productDetailSection Start */

.productDetailsContainer {
  max-width: 1366px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 122px;
  justify-content: center;
  align-items: center;
}

.productDetailLeftBlock {
  width: 491px;
  max-height: 668px;
  display: flex;
  flex-direction: column;
  gap: 194px;
  padding: 254px 168px 48px 168px;
  background-color: var(--lightgrey52);
  align-items: center;
}

.scrollButton:nth-child(even) {
  background: transparent;
}

.scrollButton:nth-child(3) {
  background: transparent;
}

.scrollButtonsBlock {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.scrollButton {
  width: 12px;
  height: 12px;
  border: 1px solid var(--aubergine);
  background-color: var(--aubergine);
  border-radius: 50%;
}

.productDetailRightBlock {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.productDetailRightTopSection {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.backTextBlock {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.backTextBlockMobile {
  display: none;
}

.backText {
  font-family: 'Regular', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  line-height: 30px;
  color: var(--lightgrey72);
}

.productDetailRightInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.productDetailRightInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.productHeading {
  max-width: 593px;
  width: 100%;
  color: var(--aubergine);
  font-size: 24px;
  font-family: 'Semi-Bold', sans-serif;
  font-weight: 600;
  line-height: 32px;
}

.productSubDesc {
  max-width: 593px;
  width: 100%;
  color: var(--lightgrey72);
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  line-height: 30px;
}

.productDetailRightPrices {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.productOfferPrice {
  color: var(--lightblue);
  font-size: 24px;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  line-height: 32px;
  border-bottom: 2px solid var(--lightblue);
}

.productOriginalPrice {
  color: var(--lightgrey72);
  font-size: 18px;
  font-family: 'Light', sans-serif;
  font-weight: 400;
  line-height: 32px;
  text-decoration: line-through;
}

.productDetailRightBottomSection {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
}

.productDetailRightDesc {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.cartBtnStyles {
  width: 265px;
  height: 56px;
  color: #fff;
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  line-height: 30px;
  justify-content: center;
  border-radius: 8px;
  background: var(--darkgreen);
  box-shadow: 1px 8px 24px 0px var(--lightgreyshadow);
}

.buyNowText {
  color: var(--darkgreen);
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  line-height: 30px;
}
/* productDetailSection End */

/* userExperianceContainer Start */
.userExperianceMainContainer {
  border: 1px solid var(--lightgrey24);
  background: var(--lightgrey42);
}
.userExperianceContainer {
  max-width: 1366px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 122px;
  padding: 100px 80px;
}

.userExperianceLeftBlock {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.shareExperianceDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.shareExperianceHeading {
  max-width: 491px;
  width: 100%;
  color: var(--aubergine);
  font-size: 40px;
  font-family: 'Semi-Bold', sans-serif;
  font-weight: 600;
}

.shareExperianceDesc {
  max-width: 491px;
  width: 100%;
  color: var(--lightgrey72);
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  line-height: 30px;
}

.shareExperianceNoteHeading {
  color: var(--lightgrey72);
  font-size: 18px;
  font-family: 'Semi-Bold', sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: var(--aubergine);
}
/* 
.startBorder{
  border: 2px solid red;
} */

.userExperianceRightBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.userExperianceRightTopSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.thoughtsDesc {
  color: var(--lightgrey72);
  font-size: 16px;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  line-height: 24px;
}

.userExperianceTextArea {
  width: 593px;
  height: 232px;
  border-radius: 8px;
  border: 1px solid var(--lightgrey24);
  padding: 13px 0px 0px 16px;
  color: var(--grey);
  font-size: 18px;
  font-family: 'Light', sans-serif;
  font-weight: 400;
  line-height: 30px;
  resize: none;
}


.thoughtBtnStyles {
  width: 265px;
  height: 56px;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 1px 8px 24px 0px var(--lightgrey8);
  background-color: var(--lightblue);
  color: var(--white);
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  line-height: 30px;
}

/* userExperianceContainer End */

/* rating Section Start */
.ratingMainContainer {
  max-width: 1366px;
  margin: auto;
}
.ratingContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 100px 182px;
}

.ratingTitleInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.ratingMainHeading {
  max-width: 593px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: 'Semi-Bold', sans-serif;
  font-weight: 600;
}

.ratingSubDesc {
  color: var(--lightgrey72);
  text-align: center;
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  font-weight: 500;
  line-height: 30px;
}

.reviewRatingBlock {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.productRatingSubContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.ratingTopSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ratedUserInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ratedUserName {
  color: var(--aubergine);
  font-size: 18px;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  line-height: 30px;
}

.ratedDesc {
  max-width: 1002px;
  width: 100%;
  color: rgba(35, 31, 32, 0.72);
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  line-height: 30px;
}

.ratingBottomBorder {
  border: 1px solid var(--lightgrey32);
}

.loadMoreButton {
  margin: auto;
}

.ratingLoadMoreBtnStyles {
  width: 265px;
  height: 56px;
  color: var(--aubergine);
  font-size: 18px;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  line-height: 30px;
  border-radius: 8px;
  border: 1px solid var(--lightgrey24);
  background: var(--lightgrey42);
}

/* rating Section End */

/* Media Query Start */

@media screen and (max-width: 1279px) {
  /* Products Banner Section Start */
  .productDetailsContainer {
    display: flex;
    flex-direction: row;
    padding: 64px 80px;
    gap: 56px;
  }

  .productDetailLeftBlock {
    /* width: 100%; */
    /* height: auto; */
    gap: 60px;
    padding: 133px 133px 24px 133px;
  }
  .productDetailRightBlock {
    gap: 32px;
  }

  .buyNowText {
    white-space: nowrap;
  }

  /* Products Banner Section End */

  /* Product Banner Section End */

  .userExperianceContainer {
    display: flex;
    flex-direction: flex;
    padding: 64px 80px;
    gap: 64px;
  }

  .userExperianceLeftBlock {
    gap: 40px;
  }

  .shareExperianceDetails {
    gap: 16px;
  }

  .shareExperianceHeading {
    font-size: 34px;
    line-height: 30px;
  }

  .shareExperianceDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .userExperianceRightBlock {
    gap: 32px;
  }

  .userExperianceRightTopSection {
    gap: 16px;
  }

  .thoughtsDesc {
    font-size: 16px;
    line-height: 20px;
  }

  .userExperianceTextArea {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .thoughtBtnStyles {
    width: 224px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
  }
  /* User Experiance Section End */

  /* rating Section Start */
  .ratingContainer {
    gap: 64px;
    /* padding: 40px 60px; */
  }

  .ratingTitleInfoBlock {
    gap: 12px;
  }

  .ratingMainHeading {
    font-size: 40px;
    line-height: 52px;
  }

  .ratingSubDesc {
    font-size: 14px;
    line-height: 22px;
  }

  .reviewRatingBlock {
    gap: 24px;
  }

  .productRatingSubContainer {
    gap: 24px;
  }

  .ratingTopSection {
    gap: 24px;
  }

  .ratedUserInfoBlock {
    gap: 24px;
  }

  .ratedUserName {
    font-size: 16px;
    line-height: 24px;
  }

  .ratedDesc {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1023px) {
  /* Product Banner Section Start */
  .productDetailsContainer {
    display: flex;
    flex-direction: row;
    padding: 56px 60px;
    gap: 56px;
  }
  .productDetailLeftBlock {
    /* width: 100%; */
    /* height: auto; */
    gap: 97px;
    padding: 133px 133px 24px 133px;
  }

  .productImageWidth {
    width: 100px;
    height: 100px;
  }

  .productDetailRightBlock {
    gap: 24px;
  }

  .backTextBlock {
    display: none;
  }

  .backTextBlockMobile {
    display: none;
    flex-direction: row;
    gap: 16px;
  }
  .productDetailRightTopSection {
    gap: 24px;
  }

  .productHeading {
    font-size: 26px;
    line-height: 36px;
  }

  .productSubDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .productDetailRightInfo {
    text-align: start;
    gap: 12px;
  }

  .productDetailRightInfoBlock {
    gap: 24px;
  }

  .productDetailRightBottomSection {
    flex-direction: row;
    gap: 12px;
  }

  .productOfferPrice {
    font-size: 24px;
    line-height: 30px;
  }

  .cartBtnStyles {
    width: 300px;
    font-size: 16px;
    line-height: 24px;
  }

  .buyNowText {
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
  }

  /* Product Banner Section End */

  .userExperianceContainer {
    display: flex;
    flex-direction: flex;
    padding: 56px 60px;
    gap: 56px;
  }

  .userExperianceLeftBlock {
    gap: 32px;
  }

  .shareExperianceDetails {
    gap: 16px;
  }

  .shareExperianceHeading {
    font-size: 34px;
    line-height: 30px;
  }

  .shareExperianceDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .userExperianceRightBlock {
    gap: 32px;
  }

  .userExperianceRightTopSection {
    gap: 12px;
  }

  .thoughtsDesc {
    font-size: 16px;
    line-height: 20px;
  }

  .userExperianceTextArea {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .thoughtBtnStyles {
    width: 224px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
  }
  /* User Experiance Section Start */

  /* rating Section Start */
  .ratingContainer {
    gap: 64px;
    padding: 56px 60px;
  }

  .ratingTitleInfoBlock {
    gap: 12px;
  }

  .ratingMainHeading {
    font-size: 36px;
    line-height: 44px;
  }

  .ratingSubDesc {
    font-size: 14px;
    line-height: 22px;
  }

  .reviewRatingBlock {
    gap: 12px;
  }

  .productRatingSubContainer {
    gap: 40px;
  }

  .ratingTopSection {
    gap: 16px;
  }

  .ratedUserInfoBlock {
    gap: 16px;
  }

  .ratedUserName {
    font-size: 16px;
    line-height: 24px;
  }

  .ratedDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .ratingLoadMoreBtnStyles {
    width: 224px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 868px) {
  /* Prodcu Banner Section Start */
  .productDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 64px 24px;
    gap: 32px;
  }
  .productDetailLeftBlock {
    /* width: 100%; */
    /* height: auto; */
    gap: 97px;
    padding: 133px 133px 24px 133px;
  }

  .productImageWidth {
    width: 100px;
    height: 100px;
  }

  .productDetailRightBlock {
    gap: 48px;
  }

  .backTextBlock {
    display: none;
  }

  .backTextBlockMobile {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .productDetailRightTopSection {
    gap: 24px;
  }

  .productHeading {
    font-size: 24px;
    line-height: 34px;
  }

  .productSubDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .productDetailRightInfo {
    text-align: center;
    gap: 8px;
  }

  .productDetailRightPrices {
    justify-content: center;
  }

  .productDetailRightInfoBlock {
    gap: 24px;
  }

  .productDetailRightBottomSection {
    flex-direction: column;
    gap: 32px;
  }

  .cartBtnStyles {
    width: 300px;
    font-size: 16px;
    line-height: 24px;
  }

  .buyNowText {
    font-size: 16px;
    line-height: 24px;
  }

  /* Product Banner Section End */

  /* User Experiance Section Start */

  .userExperianceContainer {
    display: flex;
    flex-direction: column;
    padding: 64px 24px;
    gap: 48px;
  }

  .userExperianceLeftBlock {
    gap: 32px;
  }

  .shareExperianceDetails {
    gap: 12px;
  }

  .shareExperianceHeading {
    font-size: 30px;
    line-height: 30px;
  }

  .shareExperianceDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .userExperianceRightBlock {
    gap: 32px;
  }

  .userExperianceRightTopSection {
    gap: 12px;
  }

  .thoughtsDesc {
    font-size: 16px;
    line-height: 20px;
  }

  .userExperianceTextArea {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .thoughtBtnStyles {
    width: 224px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
  }
  /* User Experiance Section Start */

  /* rating Section Start */
  .ratingContainer {
    gap: 64px;
    padding: 36px 80px;
  }

  .ratingTitleInfoBlock {
    gap: 16px;
  }

  .ratingMainHeading {
    font-size: 40px;
    line-height: 52px;
  }

  .ratingSubDesc {
    font-size: 14px;
    line-height: 22px;
  }

  .reviewRatingBlock {
    gap: 64px;
  }

  .productRatingSubContainer {
    gap: 40px;
  }

  .ratingTopSection {
    gap: 32px;
  }

  .ratedUserInfoBlock {
    gap: 12px;
  }

  .ratedUserName {
    font-size: 16px;
    line-height: 24px;
  }

  .ratedDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .ratingLoadMoreBtnStyles {
    width: 224px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 550px) {
  /* Products Banner Section Start */
  .productDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 64px 24px;
    gap: 32px;
  }
  .productDetailLeftBlock {
    width: 100%;
    height: auto;
    gap: 97px;
    padding: 133px 133px 24px 133px;
  }

  .productImageWidth {
    width: 100px;
    height: 100px;
  }

  .productDetailRightBlock {
    gap: 48px;
  }

  .backTextBlock {
    display: none;
  }

  .backTextBlockMobile {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
  }
  .productDetailRightTopSection {
    gap: 24px;
  }

  .productHeading {
    font-size: 18px;
    line-height: 28px;
  }

  .productSubDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .productDetailRightInfo {
    gap: 8px;
  }

  .productDetailRightInfoBlock {
    gap: 24px;
  }

  .productDetailRightBottomSection {
    flex-direction: column;
    gap: 32px;
  }

  .cartBtnStyles {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .buyNowText {
    font-size: 16px;
    line-height: 24px;
  }

  /* Products Banner Section End */

  /* User Experiance Section Start */

  .userExperianceContainer {
    display: flex;
    flex-direction: column;
    padding: 64px 24px;
    gap: 48px;
  }

  .userExperianceLeftBlock {
    gap: 32px;
  }

  .shareExperianceDetails {
    gap: 12px;
  }

  .shareExperianceHeading {
    font-size: 28px;
    line-height: 30px;
  }

  .shareExperianceDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .userExperianceRightBlock {
    gap: 32px;
  }

  .userExperianceRightTopSection {
    gap: 12px;
  }

  .thoughtsDesc {
    font-size: 14px;
    line-height: 20px;
  }

  .userExperianceTextArea {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .thoughtBtnStyles {
    width: 224px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
  }
  /* User Experiance Section Start */

  /* rating Section Start */
  .ratingContainer {
    gap: 48px;
    padding: 64px 24px;
  }

  .ratingTitleInfoBlock {
    gap: 12px;
  }

  .ratingMainHeading {
    font-size: 28px;
    line-height: 30px;
  }

  .ratingSubDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .reviewRatingBlock {
    gap: 32px;
  }

  .productRatingSubContainer {
    gap: 32px;
  }

  .ratingTopSection {
    gap: 24px;
  }

  .ratedUserInfoBlock {
    gap: 8px;
  }

  .ratedUserName {
    font-size: 16px;
    line-height: 24px;
  }

  .ratedDesc {
    font-size: 16px;
    line-height: 24px;
  }

  .ratingLoadMoreBtnStyles {
    width: 224px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
  }

  /* rating Section End */
}
/* Media Query End */
