.phoneInputContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  border: 1px solid var(--lightgrey24);
  border-radius: 8px;
}

.phoneInputContainer:focus{
    outline: none;
}

.phoneCodeBtnStyles {
  height: 56px;
  padding: 13px 16px;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  line-height: 30px;
}

.phoneNumberInputStyles {
  width: 520px;
  height: 56px;
  /* outline: none; */
  /* border: 1px solid var(--lightgrey24); */
  border-radius: 8px; 
  border: none;
  padding: 13px 16px;
  font-size: 18px;
  font-family: 'Regular', sans-serif;
  line-height: 30px;
}
