/* -----------------------DeskTop View Starts----------------------- */

/* top View styles start */
.topSection {
  width: 100%;
  height: 100%;
  background: url('../assets/Images/privacybglogo.svg') no-repeat center;
  background-size: cover;
}
.insideTopSection {
  max-width: 1366px;
  margin: auto;
  padding: 100px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 122px;
}
.leftIconSection {
  width: 100%;
  max-width: 491px;
  max-height: 491px;
}
.imageWidthStyles {
  width: 100%;
  height: 100%;
}
.rightTextSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.topHeader {
  max-width: 438px;
  color: var(--white);
  font-size: 40px;
  font-family: 'Semi-Bold', sans-serif;
  font-weight: 600;
}
.topDescp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.topDescpOne,
.topDescpTwo,
.topDescpThree,
.topDescpFour {
  max-width: 593px;
  color: rgba(255, 255, 255, 0.72);
  font-size: 18px;
  font-family: 'Light', sans-serif;
  line-height: 30px;
}
/* top View styles end */

/* bottom View styles start */
.bottomSection {
  width: 100%;
  height: 100%;
}
.insideBottomSection {
  max-width: 1366px;
  margin: auto;
  padding: 100px 182px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.privacySection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.privacyHeader {
  color: var(--aubergine);
  text-align: center;
  font-size: 40px;
  font-family: 'Semi-Bold', sans-serif;
  font-weight: 600;
}
.privacyDescp {
  color: #446edc;
  text-align: center;
  font-size: 18px;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  line-height: 30px;
}
.privacyDate {
  color: var(--lightgrey72);
  text-align: center;
  font-size: 18px;
  font-family: 'Light', sans-serif;
  font-weight: 400;
  line-height: 30px;
}
.controllerSection,
.aboutFoundiSection,
.personalDataSection,
.purposeSection,
.dataRetentionSection,
.employmentApplicationsSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.controllerHeader,
.aboutFoundiHeader,
.personalDataHeader,
.purposeHeader,
.dataRetentionHeader,
.employmentApplicationsHeader {
  color: var(--aubergine);
  font-size: 24px;
  font-family: 'Semi-Bold', sans-serif;
  font-weight: 600;
  line-height: 32px;
}
.controllerDescp,
.aboutFoundiDescpSection,
.personalDataDescpSection,
.purposeDescpSection,
.dataRetentionDescpSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.controllerMiddleSpan,
.dataRetentionSpan {
  color: var(--darkblue);
  border-bottom: 3px solid var(--darkblue);
  font-size: 18px;
  font-family: 'Medium', sans-serif;
  line-height: 30px;
}
.controllerTopDescp,
.controllerMiddleDescpOne,
.controllerMiddleDescpTwo,
.controllerMiddleDescpThree,
.controllerBottomDescp,
.aboutFoundiDescpOne,
.aboutFoundiDescpTwo,
.personalDataTopDescp,
.personalName,
.personalPostalAddress,
.personalEmail,
.personalSubmittedData,
.personalDevice,
.personalTelePhone,
.personalFeedback,
.personalCookie,
.personalPaymentInformation,
.personalBottomDescp,
.personalBottomDescpOne,
.purposeTopDescp,
.purposeMiddleDescp,
.purposeBottomDescpOne,
.purposeBottomDescpTwo,
.purposeBottomDescpThree,
.purposeBottomDescpFour,
.dataRetentionTopDescp,
.dataRetentionBottomDescp,
.employmentApplicationsTopDescp {
  color: var(--lightgrey72);
  font-size: 18px;
  font-family: 'Medium', sans-serif;
  line-height: 30px;
}

/* bottom View styles end */

/* -----------------------DeskTop View Ends----------------------- */
