* {
  margin: 0;
  box-sizing: border-box;
}

/* font-family */
@font-face {
  font-family: 'Light';
  src: url('assets/Fonts/Euclid\ Circular\ B\ Light.ttf');
}
@font-face {
  font-family: 'Medium';
  src: url('assets/Fonts/Euclid\ Circular\ B\ Medium.ttf');
}
@font-face {
  font-family: 'Regular';
  src: url('assets/Fonts/Euclid\ Circular\ B\ Regular.ttf');
}
@font-face {
  font-family: 'Semi-Bold';
  src: url('assets/Fonts/Euclid\ Circular\ B\ SemiBold.ttf');
}
@font-face {
  font-family: 'Bold';
  src: url('assets/Fonts/Euclid\ Circular\ B\ Bold.ttf');
}

:root {
  --white: #ffffff;
  --black: #000000;
  --lightorange: #f7b251;
  --aubergine: #231f20;
  --lightgrey8: rgba(35, 31, 32, 0.08);
  --lightgrey24: rgba(35, 31, 32, 0.24);
  --lightgrey32: #cac9ca;
  --lightgrey42: #f2f2f2;
  --lightgrey52: #e6e6e7;
  --lightgrey62: #ccc;
  --darkgreen: #194f59;
  --lightgrey24: rgba(35, 31, 32, 0.24);
  --lightgrey72: rgba(35, 31, 32, 0.72);
  --lightgrey82: #f3f3f3;
  --lightgrey16: rgba(35, 31, 32, 0.16);
  --lightgreyishblue: #e6e6e7;
  --whitetransparent72: rgba(255, 255, 255, 0.72);
  --grey: #808080;
  --lightgreyshadow: rgba(25, 79, 89, 0.08);
  --lightgreyshadow24: rgba(25, 79, 89, 0.24);
  --whitetransparent24: rgba(255, 255, 255, 0.24);
  --whitetransparent32: rgba(0, 0, 0, 0.2);
  --skyblue: #c8d5d7;
  --lightblue: #446edc;
  --lightgreyshadow56: rgba(25, 79, 89, 0.56);
  --lightgreyshadow8: rgba(25, 79, 89, 0.08);
  --grey95: #f2f2f2;
  --darkblue: #446edc;
  --green20: #ddf2df;
  --green10: #009f10;
  --tomato: #d00a0a;
  --red: #ff0000;
  --backgroundModalColor: rgba(0, 0, 0, 0.5);
  --lightBlue: rgba(68, 110, 220, 0.64);
  --blackTransparent: #383636;
}

*::-webkit-scrollbar {
  display: none;
}
